@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat-Black', sans-serif;
}


h1 {
  text-align: left;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
}

.container-fluid{
  padding: 7% 15%;
}

.colored-section{
background-color: #ff4c68;
color: #fff;
}




/* Title section */

#title .container-fluid {
  padding: 3% 15% 15%;
}


/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 1.1rem;
}

.nav-link {
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 1.3rem;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.feature-box {
  padding: 7%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 30px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


.cta-heading {
  font-family: "Montserrat-Black";
  font-size: 4.5rem;
  line-height: 1.5;
}

/* Footer Section */

  

  .social-icon {
    margin: 20px 10px;
    font-size: 30px;
  }

  /* Media Query Section */

@media (max-width: 1000px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}